[project]
	description = ReVolt Control app for ReVolt ROM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Hany (johnhany97)
[access "refs/for/refs/*"]
	read = group user/John Hany (johnhany97)
	push = group user/John Hany (johnhany97)
	label-Code-Review = -2..+2 group user/John Hany (johnhany97)
	label-Verified = -1..+1 group user/John Hany (johnhany97)
	rebase = group user/John Hany (johnhany97)
	removeReviewer = group user/John Hany (johnhany97)
	submit = group user/John Hany (johnhany97)
[access "refs/heads/*"]
	read = group user/John Hany (johnhany97)
	create = group user/John Hany (johnhany97)
	push = +force group user/John Hany (johnhany97)
	pushMerge = group user/John Hany (johnhany97)
[access "refs/tags/*"]
	push = +force group user/John Hany (johnhany97)
	pushTag = group user/John Hany (johnhany97)
	pushSignedTag = group user/John Hany (johnhany97)
